<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Last name</th>
    <th>Country</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= best_in_place user, :name, :type => :input do |name|
        number_to_currency name
      end %></td>
    <td><%= user.last_name %></td>
    <td><%= COUNTRIES[user.country.to_i] %></td>
  </tr>
<% end %>
</table>

<br />
